.song-progress {
  width: 35%;
  margin-top: 5px;
  margin-left: 10px;
}

.song-collapse {
  margin-left: 5px;
  margin-right: 5px;
}

.song-title {
  font-size: 36;
  text-align: left;
}

.song-header {
  display: flex;
  align-items: center;
}
